/* Reset Style*/
*{
    padding:0;
    margin:0;
    font-family:"Open Sans" sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background:#fff;
}
nav ul{
    display: flex;
    list-style:none;
    gap: 10px;
    align-items: center;
    
}
ul li a{
    text-decoration: none;
    color: #575757;
}
.common-btn{
    background-color: #2563EB;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius:8px;
}
.banner{
    height:600px;
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content h1{
    font-size: 60px;
    color: white;
}
.banner-content p{
    width: 500px;
    color:#fff;
    line-height: 1.2;
    text-align: center;
    margin: 20px auto;
    font-size: 15px;
}
.banner-content button{
    background-color: #2563EB;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 200px;
}
